.bigRedButton_text{
    font-size: 15px;
    text-align: center;
    line-height: 18px;
}
.bigRedButton_wrapper{
    height: 220px;
    display: flex;
    flex-direction: column;
}
.bigRedButton_text{
    margin-bottom: 30px;
}
.bigRedButton_text span{
    transition: all 0.2s;
    opacity: 0;
}
.bigRedButton-button{

    pointer-events: stroke;
    user-select: none;
    outline:0 !important
}
.bigRedButton_img{
    position: relative;
}
.bigRedButton_img img:first-child{
    position: absolute;
    display: flex;
    z-index: 3;

}
.bigRedButton_img img:last-child{

    position: relative;

}
